# Create the workspace using the NeMo Framework 25.04 image. 
# This image includes all the required libraries to run the sample project, except for the ones explicitly listed below.

langchain==0.3.25
langchain_community==0.3.24
langchain_core==0.3.60
langchain_huggingface==0.2.0
promptquality==1.11.1
PyYAML==6.0.2
pymupdf==1.26.0
langgraph==0.4.5
unstructured==0.17.2
chromadb==0.6.3
fastapi==0.115.4
protobuf==4.24.4
zstandard==0.18.0


